﻿@model SourceS.Models.Historico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Historico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dispositivo.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dispositivo.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductoGasolinera.ProductoGasolineraId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductoGasolinera.ProductoGasolineraId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enviado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enviado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.historicoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
