﻿
     td.details-control {
    background: url('DataTables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
    tr.shown td.details-control {
    background: url('DataTables/images/details_close.png') no-repeat center center;
}
