﻿@model IEnumerable<SourceS.Models.Historico>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gas Station Web</h1>
    <p class="lead">Aplicación web para control de precios por medio displays.</p>
</div>

<div class="wrapper wrapper-content">
    <div class="row">

        <div class="col-md-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Total</span>
                    <h5>Administradores</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Administradores</h1>
                    <small>Total de administradores</small>
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Total</span>
                    <h5>Usuarios</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Usuarios</h1>
                    <small>Total de usuarios</small>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Total</span>
                    <h5>Dispositivos</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Dispositivos</h1>
                    <small>Total de Dispositivos</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Al dia</span>
                    <h5>Historicos Programados</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">@ViewBag.execute</h1>
                            <div class="font-bold text-navy">
                                <i class="fa fa-level-up"></i> <small>Ejecutados</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">@ViewBag.notexecute</h1>
                            <div class="font-bold text-navy">
                                <i class="fa fa-level-up"></i> <small>En espera..</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger fade in">
                <button type="button" class="close close-sm" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
                @TempData["Message"]
            </div>
        }
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">Filtro programas</div>
                            <div class="panel-body">
                                @using (Html.BeginForm("Admin", "Home"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="col-lg-12">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Fecha</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="intervalDI" name="intervalDI" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Fecha</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="intervalDF" name="intervalDF" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Usuarios</label>
                                                <div class="col-md-10">
                                                    @Html.DropDownList("Cuentas", null, "--Seleccionar usuario--", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised" value="Buscador" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora Programada
                                </th>
                                <th>
                                    Dispositivo
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    Estatus
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.hora)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Dispositivo.nombre)
                                </td>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(model => item.precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.estatus)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2Styles")
}

@section Scripts {

    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/dataPicker")
    <script>
        $(document).ready(function () {
            $("#Cuentas").select2({
                language: "es",
                allowClear: true,
                style: "display: inline-block",
                minimumInputLength: 3, //you can specify a min. query length to return results
                ajax: {
                    quietMillis: 250,
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    url: "@Url.Action("GetCuenta", "Home")",
                    data: function (params) {
                        return {
                            query: params.term
                        };

                    }, processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data,
                        };
                    }

                }
            });

            //set initialize values
            var startDate = null;
            var endDate = null;

            $('#intervalDF').datepicker({
                defaultDate: moment(),
                locale: "es",
            });


            $('#intervalDI').datepicker({
                defaultDate: moment(),
                locale: "es",
            });

            $("#intervalDI").datepicker({
                autoclose: true
            }).on('changeDate', function (selected) {
                bandera = false;
                startDate = new Date(selected.date.valueOf());
                if (endDate != null && endDate != 'undefined') {
                    if (endDate < startDate) {
                        alert("Fecha fin es menor a la fecha de inicio");
                        $("#intervalDI").val("");
                    }
                }
                console.log(startDate)
            });


            $("#intervalDF").datepicker({
                todayBtn: "linked",
                autoclose: true,
            }).on("changeDate", function (ev) {
                endDate = new Date(ev.date.valueOf());
                if (startDate != null && startDate != 'undefined') {
                    if (endDate < startDate) {
                        alert("End Date is less than Start Date");
                        $("#intervalDF").val("");
                    }
                }
            });

        });
    </script>

}