﻿@model SourceS.Models.Dueño

@{
    ViewBag.Title = "Delete";
}
<div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="True">&times;</a>
    <h4 class="modal-title">Eliminar Usuario</h4>
</div>
<div class="modal-body">
    <p id="MessageToClient" class="text-danger"></p>
    <div class="ibox-content">
        <h3>¿Esta seguro de eliminar al Usuario?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApellidoPaterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApellidoPaterno)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApellidoMaterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApellidoMaterno)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Celular)
                </dd>

            </dl>


            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "partchoice" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button class="btn" data-dismiss="modal">Cancelar</button>
                    <input class="btn btn-danger" type="submit" value="Eliminar" />
                </div>
            }
        </div>
    </div>
</div>
  