﻿@model SourceS.Models.Dueño

@{
    ViewBag.Title = "Edit";
}

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>

<div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="True">&times;</a>
    <h4 class="modal-title">Editar Usuario</h4>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "partchoice" }))
{
    <div class="modal-body">
        <p id="MessageToClient" class="text-danger"></p>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.personaID)
        @Html.HiddenFor(model => model.AdministradorId)
        <!-- Contenido del formulario -->
        <div class="form-horizontal">


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label><font color="red">* </font>Correo electrónico</label>
                        @Html.EditorFor(model => model.ApplicationUser.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ApplicationUser.Email, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label><font color="red">* </font>Nombre del Usuario</label>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label><font color="red">* </font>Apellido Paterno</label>
                        @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label style="text-align:center"><font color="red">* </font>Apellido Materno</label>
                        @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label><font color="red">* </font>Celular</label>
                        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

        </div>
    </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancelar</button>
            <input class="btn btn-primary" type="submit" value="Guardar" />
        </div>

}
