﻿@model IEnumerable<SourceS.Models.Dueño>

@{
    ViewBag.Title = "Usuarios";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Lista de Usuarios</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Usuarios</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <tr>
                        <th>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApellidoPaterno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApellidoMaterno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Celular)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Celular)
                            </td>
                            <td>                                
                                <a href="@Url.Action("Detalles", "Gasolineras",new { id = item.personaID})" class="btn btn-success"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        </div>
    </div>
</div>