﻿@model SourceS.Models.Dispositivo

@{
    ViewBag.Title = "Edit";
}

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>

<div class="modal-header" style="background: #96ceb4; color: white;">
    <a class="close" data-dismiss="modal" aria-hidden="True">&times;</a>
    <h4 class="modal-title">Editar Dispositivo</h4>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "detailschoice" }))
{
    <div class="modal-body">
        <p id="MessageToClient" class="text-danger"></p>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.dispositivoID)
            @Html.HiddenFor(model => model.gasolineraID)

            <div class="form-group">
                @Html.LabelFor(model => model.ip, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ip, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ip, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.nombre, "", new {@class = "text-danger"})
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Actualizar" />
    </div>
}