﻿@model SourceS.Models.Gasolinera

@{
    ViewBag.Title = "Details";
}

<div id="detailsModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="detailsModalContent"></div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Gasolinera: </strong>
            </li>
            <li>
                @Html.ActionLink("Regresar a la Lista de usuarios", "Lista","Gasolineras", new { id = ViewBag.Androide },null)
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="widget-head-color-box p-lg text-center">
                                        <!--Name-->
                                        <div class="m-b-md">
                                            <h2 class="font-bold no-margins">
                                                @Model.identificador
                                            </h2>
                                        </div>
                                        <img src="@Url.Content("~/Images/gas-station.jpg")" class="img-circle circle-border m-b-md" alt="profile">
                                        <div>
                                            <span>Estado :</span>
                                            <span>@Model.estado</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="row m-t-sm">
                                        <div class="col-lg-12">
                                            <div class="panel blank-panel">
                                                <div class="panel-heading">
                                                    <div class="panel-options">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-info"></i> Detalle Gasolinera</a></li>
                                                            <li class=""><a href="#tab-2" data-toggle="tab"><i class="fa fa-info"></i> Dispositivo</a></li>
                                                            <li class=""><a href="#tab-3" data-toggle="tab"><i class="fa fa-info"></i> Productos</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab-1">
                                                            <div class="">
                                                                <div class="col-md-6">
                                                                    <dl>
                                                                        <dt>Identificador</dt>
                                                                        <dd>@Model.identificador</dd>
                                                                        <dt>Dueño</dt>
                                                                        <dd>@Model.Dueño.Nombre</dd>
                                                                        <dt>Estado:</dt>
                                                                        <dd>@Model.estado</dd>
                                                                        <dt>Municipio:</dt>
                                                                        <dd>  @Model.municipio</dd>
                                                                        <dt>Calle:</dt>
                                                                        <dd>@Model.calle </dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="tab-2">
                                                            <div class="col-md-6">
                                                                <h2>Detalle Dispositivo</h2>
                                                                <hr>
                                                                <div class="widget-head-color-box p-lg text-center">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                @foreach (var item in Model.Dispositivos)
                                                                {
                                                                    <dl>
                                                                        <dt>IP: @item.ip</dt>
                                                                        <dt>
                                                                            Nombre:@item.nombre  @Html.ActionLink("Editar", "Edit", "Dispositivos",
                                                                                new { id = item.dispositivoID },
                                                                                new { @class = "btn btn-default", data_modal = "details" })
                                                                        </dt>
                                                                    </dl>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="tab-3">
                                                            <div class="">
                                                                <div class="col-md-6">
                                                                    @foreach (var itemModel in Model.Productos)
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                <p>Nombre: @itemModel.Nombre</p>
                                                                                <p>Precio: $ @itemModel.Precio</p>
                                                                                <p> Creado el: @itemModel.RowVersion</p>
                                                                            </div>
                                                                            <div class="col-xs-6">
                                                                                @Html.ActionLink("Editar", "Edit", "Productos",
                                                                                    new {id = itemModel.ProductoId, Andromeda = ViewBag.Androide},
                                                                                    new {@class = "btn btn-default", data_modal = "details"})
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/bootstrap")
    <script src="~/Scripts/app/workModal.js"></script>
}