﻿@model SourceS.Models.Producto

@{
    ViewBag.Title = "Edit";
}

<div data-role="page">
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>

<div class="modal-header" style="background: #96ceb4; color: white;">
    <a class="close" data-dismiss="modal" aria-hidden="True">&times;</a>
    <h4 class="modal-title">Editar Producto</h4>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "detailschoice" }))
{
    <div class="modal-body">
        <p id="MessageToClient" class="text-danger"></p>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.GasolineraId)
        @Html.HiddenFor(model => model.Letra)
        @Html.HiddenFor(model => model.ProductoId)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductoId)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-primary" type="submit" value="Actualizar" />
    </div>
}
